.CartBtn {
    width: 140px;
    height: 40px;
    border: none;
    background-color: rgb(255, 166, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    margin-bottom: 30px;
}

.IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
}

.icon {
    border-radius: 1px;
}

.text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
}

.CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
}

.CartBtn:hover .text {
    transform: translate(10px, 0px);
    transition-duration: .5s;
}

.CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}

.visible {
    display: flex !important;
}

.hidden {
    display: none !important;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupwallet{
    border: 1px solid black;
   
}
.popupwallet:hover{
    background-color: goldenrod;
    color: white;
    box-shadow: inset 0 10px 10px 15px rgba(0, 0, 0, 0.288);
}
/* .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
} */
/* Reduce the height of the top bar */
.navbar.bg-white {
    height: 40px; /* Adjust the height as desired */
  }
  
  /* Center the "Buy Now" button */
  .navbar-nav.ms-auto {
    display: flex;
    align-items: center;
  }
  
  .btn-primary {
    margin: 0 10px; /* Adjust the spacing around the button */
  }
  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .main-content {
    margin-top: 80px; /* Adjust the value based on the height of the top bar */
  }

  .form-floating>label{
    z-index: 0 !important;
  }
  .MuiTableCell-root {
    padding: 4px !important;
  }
  .MuiTableCell-root.MuiTableCell-head{
    padding: 10px !important;
  }
  .blur-container {
    filter: blur(5px); /* Apply blur effect to the entire page content */
}

.loading-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px); /* Apply blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-indicator {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


